.App {
  background: black;
}

/* .Map {
  color: white;
} */

.About {
  color: white;
}

nav {
  background-color: red;
  opacity: 0.3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.foodtruck {
  color: white;
  width: 30%;
}