.App {
  background: black;
}

.About {
  color: white;
}

.Map{
  float: right;
}

.Nav {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #ff715b);
  
}

.container {
  margin-left: 0 !important;
  margin-right:0 !important;
}

/* .row {
  width: 100% !important;
} */

.foodtruck {
  color: white;
  height: 75vh;
  width:115%;
  overflow:hidden;
  overflow-y:scroll;
  margin-left: 0 !important;
}

  .marker {
    /* Set the marker size here */
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    /* Set the marker color here */
    background: #aa3300;

    display: inline-block;
    border-bottom-right-radius: 0;
    position: relative;
    transform: rotate(45deg);

    /* optional fanciness */
    border: 1px solid #881100;
  }
  /* inner circle (optional if you don't need the central dot) */
  .marker::before {
    content: "";
    background: white;
    width: 50%;
    height: 50%;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #881100;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  }
  /* sets the shadow below the marker */ 
  .marker::after{
    content: "";
    background: rgba(128, 128, 128, 0.5);
    width: 75%;
    height: 75%;
    border-radius: 100%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg) scaleX(0.5);
  }

  .smallMarker {
    /* Set the marker size here */
    width:1%;
    height: 1%;
    border-radius: 100%;
    /* Set the marker color here */
    background: #000000;

    display: inline-block;
    border-bottom-right-radius: 0;
    position: relative;
    transform: rotate(45deg);

    /* optional fanciness */
    border: 1px solid #9b0b9b;
  } 
